.jombotron {
  width: 100%;
  height: 500px;
  margin: auto;
  text-align: center;
  position: relative;
  background-image: url("bg.jpg");
  background-size: cover;
}

.jum {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  width: 100%;
  height: 100%;
  position: absolute;
}

.kotak {
  background-color: dodgerblue;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.kotak,
.home,
.about,
.contact,
.register {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 6px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 200px;
  right: 700px;
  color: white;
}
.home,
.about,
.contact,
.register {
  filter: opacity(0);
}

.home1 {
  top: 100px;
  right: 900px;
  filter: opacity(1);
  background-color: deeppink;
}
.about1 {
  top: 440px;
  right: 150px;
  filter: opacity(1);
  background-color: cornflowerblue;
}

.contact1 {
  top: 100px;
  right: 300px;
  filter: opacity(1);
  background-color: darkgreen;
}

.register1 {
  top: 400px;
  right: 700px;
  filter: opacity(1);
  background-color: darkorange;
}

.home {
  background-color: cornflowerblue;
  transition: All 3s 0.25s;
}
.about {
  background-color: darkcyan;
  transition: All 3s 0.5s;
}
.contact {
  background-color: darksalmon;
  transition: All 3s 0.75s;
}
.register {
  background-color: deeppink;
  transition: All 1s 1s;
}
